@page "/{day}"
@inject Data.IPuzzleRepository PuzzleRepo

<Puzzle Model="@Model" />

<div class="save-section">
    @if (editMode) { 
        <button class="save-btn btn btn-primary" @onclick="SavePuzzleAsync">Save</button>
    }
</div>

@code {
    [Parameter]
    public string? Day { get; set; }

    public PuzzleModel Model { get; set; } = PuzzleModel.PrerenderPlaceholder;

    bool editMode => Model.IsUnsaved() && !Model.IsPrerenderInstance();

    protected override async Task OnInitializedAsync()
    {
        var potd = await FetchPuzzleAsync();
        Model = potd ?? new();
    }

    async Task<PuzzleModel?> FetchPuzzleAsync()
    {
        if (Day == null)
            return null;

        return await PuzzleRepo.GetAsync(Day);
    }

    async Task SavePuzzleAsync()
    {
        Model.Day = Day;
        await PuzzleRepo.SaveAsync(Model);
    }
}